# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
zappy_server
zappy_server_intra
zappy_gui
zappy_ai
!ai/zappy_ai

# Python files
__pycache__
*.spec
log
build
dist

#Other files
.vscode
vgcore*
gui/config/ogre.log

# Coding style report
coding-style-reports.log

# Valgrind
vgcore*
